* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Google Sans", sans-serif;
}


.back-link {
    display: inline-block;
    margin-bottom: 25px;
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

.back-link:hover {
    text-decoration: underline;
}